@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
    color: white;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button, input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 1em 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.form label,
.form input {
    display: block;

}

.form input{
    margin-bottom: 1rem;
}

.form label{
    margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"]{
    width: 100%;
    padding: 0.1rem;
    border: 1px solid #c2c2c2;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 1.1rem;
}

.form input:focus{
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px  rgba(38, 142, 228, 0.5);
    outline: none;
}

.form input[type="submit"]{
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #094679;
    background-color: #78dae7;
    border-radius: 10px;
}


#header {
    height: 60px;
    background-color: tomato;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#header .title{
    padding: 0 1rem;
    margin: 0;
}

#header .auth{
    display: flex;
    height: 100%;
}

#header .auth button{
    background-color: red;
    padding: 0 1rem;
    font-size: 1.1rem;
    color: white;
}

#header .auth button:hover{
    background-color: rgb(236, 55, 27);
}